{% extends 'base.html' %}
{% load static %}

{% block title %}
All tasks
{% endblock %}


{% block menu %}
    {% if perms.task_tracker.add_project %}
        <li class="nav-item"><a class="nav-link" href="{% url 'task_tracker:add_project' %}">Добавить проект</a></li>
    {% endif %}
{% endblock %}


{% block search %}
    {% include 'partial/simple_search.html' %}
{% endblock %}


{% block content %}
    <div><br><br><br><h2>Все задачи [{{ tasks.count }}]</h2><br></div>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

<div class="row row-cols-1">
    {% for task in tasks %}
        {% if perms.task_tracker.view_task and request.user in task.project.users.all %}
          <div class="col mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ task.summary }}</h5> <p>[{{ task.project.title }}]</p>
                <br><p class="card-text">Типы: {% for type in task.types.all %}{{ type.type_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p class="card-text">Статус: {{ task.status }}</p><br>
                <a href="{{ task.get_absolute_url }}" class="btn btn-info">Подробнее</a>
                {% if perms.task_tracker.delete_task and request.user in task.project.users.all %}
                    <a href="{% url 'task_tracker:delete_task' task.id %}" class="btn btn-secondary">Удалить</a>
                {% endif %}
                {% if perms.task_tracker.change_task and request.user in task.project.users.all %}
                    <a href="{% url 'task_tracker:update_task' task.id %}" class="btn btn-secondary">Изменить</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
    {% endfor %}
</div><br>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}