{% extends "base.html" %}

{% block title %}Delete {{ project.title }}{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Все задачи</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'add_project' %}">Добавить проект</a></li>
{% endblock %}

{% block content %}
    <br><br><br><h3>Вы точно хотите удалить "{{ project.title }}" из базы?</h3><br><br>
    <form method="POST" action="{% url "delete_project" project.id %}" class="text-center">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a class="delete_no_link" href="{% url "project_main" %}">Нет</a></p>
    </form>
{% endblock %}
