{% extends 'base.html' %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url 'main' %}">Все задачи</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'add_project' %}">Добавить проект</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'add_project_task' project.id %}">Добавить задачу сюда</a></li>
{% endblock %}

{% block content %}
<div class="card row row-cols-1">
    <div class="col mt-3">
      <div class="card-body">
        <h4 class="card-title">{{ project.title }}</h4>
        <p class="card-text">{{ project.description }}</p>
      </div></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Дата начала: {{ project.start_date }}</li>
        <li class="list-group-item">Дата окончания: {{ project.finish_date }}</li>
        <div class="card-body">
            <a href="{% url 'update_project' project.id %}" class="btn btn-secondary">Изменить проект</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Задачи этого проекта:</h5>
            <div class="row row-cols-1">
                {% include 'partial/project_tasks.html' %}
            </div><br>
        </div>
      </ul>
</div>
{% endblock %}