{% extends 'base.html' %}

{% block title %}
Update {{ project.title }}
{% endblock %}

{% block menu %}
    {% if perms.task_tracker.add_project and request.user in project.users.all %}
        <li class="nav-item"><a class="nav-link" href="{% url 'task_tracker:add_project' %}">Добавить проект</a></li>
    {% endif %}
    <li class="nav-item"><a class="nav-link" href="{{ project.get_absolute_url }}">К проекту</a></li>
{% endblock %}

{% block content %}
    <form action="{% url 'task_tracker:update_project' project.id %}" method="POST" class="mt-5">
        {% include 'partial/form_template.html' with button_text="сохранить" %}
    </form>
{% endblock %}